In [1]:
# Module 2
# Lists and Tuples , Sets, Dictionaries
# Tuples are an ordered sequence

In [5]:
tuple1 = ("disco", 10, 7.2)
tuple2 = tuple1 + ("red", 1)
print(tuple2)

# slicing 
tuple2[0:3]
tuple2[3:]

('disco', 10, 7.2, 'red', 1)

('red', 1)

In [7]:
# Tuples are immutable
Ratings = (10,9,6,5,10,8,9,6,2)
Ratings1 = Ratings
print(Ratings)

# to manupulate a tuple you need to create a new tuple

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [15]:
RatingsSorted = sorted(Ratings)
print(RatingsSorted)

# A tuple can contain other tuples as well
NT = (1,2,('pop', 'rock'),(3,4),('disco',(1,2)))
print(NT[2][1])

[2, 5, 6, 6, 8, 9, 9, 10, 10]
rock

In [26]:
# Lists are ordered sequences, list are mutable
# can contain string, int, float
# elements can be accesed by index

L = ["Mike Jackson", 12, 1994, "MJ", 8090]
print(L[2:4])

# indexing for tupes and lists are identical
print(L[3:5])

# Lists are mutable,
L1 =["MJ", 12, 1992]
L1.extend(["pop",10]) # adds multiple elements to the lists
print(L1)
L1.append(["MN", "USA"]) # only adds one more element to the index
print(L1)

L1.append("END")
print(L1)

[1994, 'MJ']
['MJ', 8090]
['MJ', 12, 1992, 'pop', 10]
['MJ', 12, 1992, 'pop', 10, ['MN', 'USA']]
['MJ', 12, 1992, 'pop', 10, ['MN', 'USA'], 'END']

In [32]:
A = ['Nepal', 'USA', 'None']
A[0] = "India"
print(A)
del(A[2])
print(A)
Name = ["Deepak"]
"Name".split(" ")
print(Name)

# Aliasing referring to same values

['India', 'USA', 'None']
['India', 'USA']
['Deepak']

In [37]:
# Question 1
A = (0,1,2,3)
print(A[3])
print(A[-1])

# Question 2
B = ["a", "b", "c"]
print(B[1:])

3
3
['b', 'c']

In [41]:
# Sets 
# sets are type of collection, input different types
# sets are unordered, no index
# only one particular unique value elements

Set1 = {"pop","rock", "soul", "hard rock", "R&B", "rock", "pop"}
print(Set1)

# convert list to set , type casting
album_list = ["MK", 2001, "MK"]
print(album_list)
album_set = set(album_list)
print(album_set)

{'R&B', 'pop', 'soul', 'hard rock', 'rock'}
['MK', 2001, 'MK']
{2001, 'MK'}

In [49]:
# Set operations
A = {"Thriller", "Black in Black", "AC/DC"}
A.add("Award")
print(A)
     
A.remove('Black in Black')
print(A)
"AC/DC" in A 

# Mathematical set of operations
set1 = {"A", "B", "C", "red", 1}
set2 = {1,2,3,"red"}
set3 = set1 & set2 
print(set3)

set1.union(set2)

# Check if the set is a subset 
album1 = {"AC/DC","Black", "Thriller"}
album2 = {"AC/DC", "Black"}
album2.issubset(album1)

{'AC/DC', 'Thriller', 'Award', 'Black in Black'}
{'AC/DC', 'Thriller', 'Award'}
{1, 'red'}

True

In [51]:
# Question 1
s={"A","B","C"}
u={"A","Z","C"}
u.union(s)

# Question 2
s={"A","B","C"}
u={"A","Z","C"}
z=s&u
print(z)

{'C', 'A'}